---
title: Other Projects
---

<header>
  <h1>Other Projects</h1>
  <h2>Other VA HOD projects contributed to.</h2>
  <p>The Page Program, Member Bios, and Wage Pay are three other projects on which I was the primary frontend developer.</p>
</header>

<div class="examples">
  <h3 class="page">The Page Program</h3>
  <p class="description page">Each year the Speaker of the House of Delegates appoints young students from across Virginia to serve as House pages during the regular session of the General Assembly.   
  As the only frontend developer on this project, I worked with a backend developer to create a portal where students and parents could complete the application process.  Administrative staff are able 
  to track applicants throughout the process and review applications.  As one of my first projects with the HOD, my main goal was to design visually appealing and user-friendly forms and to display applicant data in 
  an easy to read format.  Technologies used: Ruby on Rails, HTML, SCSS, jQuery.</p>
  <div class="image page login"><%= image_tag 'page-app-cropped.png' %></div>
  <div class="image page form"><%= image_tag 'page-app-form-resized.png' %></div>

  <h3 class="member-bios">Member Bios</h3>
  <p class="description member-bios">Member Bios is a database of House member, committee, district, historical data and more.  Most of which is displayed on the General Assembly public website.
  Working alongside a back-end developer, the primary challenges with this project included lengthy forms, some of which included drag and drop functionality.  There were also large amounts of data that needed 
  to be displayed in an easy to read format.  Technologies used: Ruby on Rails, HTML, SCSS, jQuery, jQueryUI (drag and drop).</p>
  <div class="image member-bios index"><%= image_tag 'memdata.png' %></div>
  <div class="image member-bios committee"><%= image_tag 'memdata-committee.png' %></div>

  <h3 class="wage">Wage Pay</h3>
  <p class="description wage">Another one of the first projects I was responsible for during my time at the Virginia House of Delegates.  Although I do most of my prototyping in-browser, my approach was a little different with this 
  application.  My goal was to create an application interface that was a little outside of the box of our usual applications.  This application is used by wage employees to track time and leave, as well as by Finance staff to process the information and create reports. 
  Frontend work done by me while working alongside a backend developer.</p>
  <div class="image wage"><%= image_tag 'wage-pay-form.png' %></div>
</div><!-- end .examples -->


